{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container hero-container mt-5">
<div class="book-btn-container">
<h1>Get That Fresh Feeling</h1>
<div class="book-btn">BOOK NOW</div>
</div>
</div>
<div class="container mt-2">
<div class="row">
<div class="col-6 left-section-services">
    <div class="book-btn-container-2">
        <div class="book-btn">SERVICES</div>
        </div>
</div>
<div class="col-6 right-section-shop">
    <div class="book-btn-container-2">
        <div class="book-btn">SERVICES</div>
        </div>
</div>
</div>
</div>
{% endblock %}