{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"> </div>

    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 hero-container">
    <div class="row">
<div class="col-12 text-right">
<ul class="list-unstyled hero-text">
<li>A</li>
<li>BRAND</li>
<li>NEW</li>
<li>YOU</li>
<li><a class="btn btn-book">BOOK NOW</a></li>
</ul>
</div>
    </div>
</div>


{% endblock %}